.hero__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.hero__content h1 .highlight {
  color: var(--secondary-color);
}

.hero__content p {
  font-size: 1.1rem;
  color: var(--text-color);
  line-height: 2rem;
}
.hero__img-text {
  position: absolute;
  top: 55%;
  left: 20%;
  padding-bottom: 15%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: bold;
}

.hero__img-box-dashboard img {
  width: 1118px;
  height: 250px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  object-fit: cover;
}

.hero__content {
  padding-top: 3.5rem;
}

.hero__img-box-dashboard {
  padding-top: 2rem;
}

.services__title {
  font-size: 2.5rem;
  font-weight: 500;
}

.gallery__title {
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.masonry__img {
  transition: 0.3s;
}
.masonry__img:hover {
  transform: scale(1.1);
}
